
section{
    text-align: center;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: darkblue;
    color: white;
}
p{
    font-weight: bold;
    text-align: center;
}
h2{
    font-family: cursive;
    text-align: center;
}
.banner{
    margin: 10px;
    max-width: 90%;
    max-height: 80%;
    padding: 5%;
    border-radius: 60%;
}
.list-reasons{
    font-style: italic;
}
.container{
    background-color: darkgray;
    margin: 10%;
}
.section-aside{
    display: flex;
    flex-direction: row;
}