
section{
    text-align: center;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;

}
p{
    font-weight: bold;
    text-align: center;
}
h2{
    font-family: cursive;
    text-align: center;
}
.banner{
    height: 80%;
    width: 80%;
    padding: 10%;
    border-color: cornflowerblue;
    border-radius: 60%;
}
.list-reasons{
    font-style: italic;
}
